---
import { db } from "~/lib/shared";
import moment from "moment";
import {marked} from "marked";
import ArticleLayout from "~/layouts/ArticleLayout.astro";

const uid = Astro.params.uid;

if (!uid) {
	return Astro.redirect("/gallery");
}

const entry = await db("setups").select("*").where({ uid }).first();

// For each entry, select all images and add them to the entry
const author = await db("users").select("*").where({ id: entry.users_id }).first();

const html = marked(entry.content, {});
---

<ArticleLayout
	title={entry.title}
	cover={entry.title}
	heading={entry.title}
	category={`${author.username} on ${moment(entry.created_on).format("MMMM Do YYYY")}`}>
	<div set:html={html}></div>
</ArticleLayout>